{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
        <h1>Today's Trash Pickups</h1>
        {% for customer in trash_unpicked %}
        <ul>
          <li>{{customer.name}}</li>
          <li>{{customer.address}}</li>
          <a href='{% url "employees:pick_up" customer.id %}' type="button">Confirm Pick Up!</a>
        </ul>
        {% endfor %}
        <div class="container">
          <div class="row">
            <div class="col-md-auto">
              <a href='{% url "employees:week_filter" "Monday" %}' type="button" class="btn btn-success">To see Monday's pickups</a>
              <a href='{% url "employees:week_filter" "Tuesday" %}' type="button" class="btn btn-success">To see Tuesday's pickups</a>
              <a href='{% url "employees:week_filter" "Wednesday" %}' type="button" class="btn btn-success">To see Wednesday's pickups</a>
              <a href='{% url "employees:week_filter" "Thursday" %}' type="button"class="btn btn-success" >To see Thrusday's pickups</a>
              <a href='{% url "employees:week_filter" "Friday" %}' type="button" class="btn btn-success">To see Friday's pickups</a>
              <a href='{% url "employees:week_filter" "Saturday" %}' type="button" class="btn btn-success">To see Saturday's pickups</a>
              <a href='{% url "employees:week_filter" "Sunday" %}' type="button" class="btn btn-success">To see Sunday's pickups</a>
            </div>
          </div>
        </div>
        <br />

        <br />
 
        

  {% endif %}
{% endblock %}



