{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
        <h1>Today's Trash Pickups</h1>
        {% for customer in trash_unpicked %}
        <ul>
          <li>{{customer.name}}</li>
          <li>{{customer.address}}</li>
          <a href='{% url "employees:pick_up" customer.id %}' type="button">Confirm Pick Up!</a>
        </ul>
        {% endfor %}
        
        <a href='{% url "employees:week_filter" "Monday" %}' type="button">To see Monday's pickups</a>
        <a href='{% url "employees:week_filter" "Tuesday" %}' type="button">To see Tuesday's pickups</a>
        <a href='{% url "employees:week_filter" "Wednesday" %}' type="button">To see Wednesday's pickups</a>
        <a href='{% url "employees:week_filter" "Thursday" %}' type="button">To see Thrusday's pickups</a>
        <a href='{% url "employees:week_filter" "Friday" %}' type="button">To see Friday's pickups</a>
        <a href='{% url "employees:week_filter" "Saturday" %}' type="button">To see Saturday's pickups</a>
        <a href='{% url "employees:week_filter" "Sunday" %}' type="button">To see Sunday's pickups</a>
        <br />
        <br />
 
        

  {% endif %}
{% endblock %}