{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
        <h1>Today's Trash Pickups</h1>
        {% for customer in trash_unpicked %}
        <ul>
          <li>{{customer.name}}</li>
          <li>{{customer.address}}</li>
          <a href='{% url "employees:pick_up" customer.id %}' type="button">Confirm Pick Up!</a>
        </ul>
        {% endfor %}
        <form>
          <label for= "weekday">Choose a day of the week:</label>

          <input href='{% url "employees:week_filter/<str:weekly_pickup>/" %}' type="weekday" name="weekday" id="weekly_pickup" min="Monday" max="Sunday" required>
          <input type="submit" value="Submit">
      </form> 
        <br />
        <br />
 
        

  {% endif %}
{% endblock %}