{% extends 'employees\employee_base.html' %}

{% block title %} Customer Information {% endblock %}

{% block header %} {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        <h1>The Pickups for {{weekly_pickup}} are:</h1>        
        {% for customer in customer_list %}
        <ul>
          <li>{{customer.name}}</li>
          <li>{{customer.address}}</li>
        </ul>
        {% endfor %}
        <a href='{% url "employees:index"  %}' type="button" class="btn btn-success">Home</a>
        

  {% endif %}
{% endblock %}